*{
    margin: 0;
    padding: 0;
    
}


.navbar{
    padding: 25px 70px 15px 70px;
    background-color: white;
    
}
.navbar-brand {
    color: rgba(184, 115, 51, 1);
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: bold;
    line-height: 27.5px;
    letter-spacing: 0;
    text-transform: capitalize;
}

.nav-link{
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 27.5px;
    letter-spacing: 0;
    color: black;
}
.nav-item i{
    font-size: 22px;
}

main{
    margin-top: 90px;
}

/*home page*/

.card-title{
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 60.0px;
    letter-spacing: 0;
    width: 30%;

}



/*  log in */
.bg-gradient-card {
    background: rgb(245, 222, 179);
    background: linear-gradient(90deg, rgba(245, 222, 179, 1) 0%, rgba(200, 128, 79, 1) 29%, rgba(238, 216, 197, 1) 100%);
}
.btn-custom {
    background-color: rgba(200, 128, 79, 1);
    color: white;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat';
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 27.5px;
    text-transform: uppercase;
    border-radius: 30px;
}

.btn-custom:hover {
    background-color: rgba(150, 100, 60, 1);
}

.form-control {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
.card-header{
    font-family: 'Montserrat';
    font-size: 1.15rem;
    font-weight: bold;
    letter-spacing: 8px;
    line-height: 27.5px;
    text-transform: uppercase;
}
.form-control{
    font-family: 'Montserrat';
}


/*  registro */
.card {
    transition: transform 0.3s ease;
    
}

.card.rounded-lg {
    border-radius: 20px;
}
.card.shadow {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.card-body {
    padding: 1rem;
}
.text-center{
    font-family: 'Montserrat';
    font-size: 1.15rem;
    font-weight: bold;
    letter-spacing: 8px;
    line-height: 27.5px;
    text-transform: uppercase;
}

/* tarjetas de productos */

#card-title-smaller {
    font-size: 1.50rem;
    line-height: 27.5px;
    letter-spacing: 0;
    text-transform: capitalize;
    width: 100%;
}

.btn-product {
    background-color: rgba(238, 216, 197, 1);
    color: white;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat';
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 27.5px;
    text-transform: uppercase;
    border-radius: 30px;
    width: 100%;
    /* Ancho completo del botón solo para productos */
    text-align: center;
    /* Centra el texto */
}

.btn-product:hover {
    background-color: rgba(211, 211, 211, 1);
}
.card-footer {
    background-color: transparent;
    border-top: none;
    padding-bottom: 20px;
}