*{
    margin: 0;
    padding: 0;
    
}


.navbar{
    padding: 25px 70px 15px 70px;
    background-color: white;
    
}
.navbar-brand {
    color: rgba(184, 115, 51, 1);
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: bold;
    line-height: 27.5px;
    letter-spacing: 0;
    text-transform: capitalize;
}

.nav-link{
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 27.5px;
    letter-spacing: 0;
    color: black;
}
.nav-item i{
    font-size: 22px;
}

main{
    margin-top: 90px;
}

/*home page*/

.card-title{
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 60.0px;
    letter-spacing: 0;
    width: 30%;

}



/*  log in */
.bg-gradient-card {
    background: rgb(245, 222, 179);
    background: linear-gradient(90deg, rgba(245, 222, 179, 1) 0%, rgba(200, 128, 79, 1) 29%, rgba(238, 216, 197, 1) 100%);
}
.btn-custom {
    background-color: rgba(200, 128, 79, 1);
    color: white;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat';
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 27.5px;
    text-transform: uppercase;
    border-radius: 30px;
}

.btn-custom:hover {
    background-color: rgba(150, 100, 60, 1);
}

.form-control {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
.card-header{
    font-family: 'Montserrat';
    font-size: 1.15rem;
    font-weight: bold;
    letter-spacing: 8px;
    line-height: 27.5px;
    text-transform: uppercase;
}
.form-control{
    font-family: 'Montserrat';
}


/*  registro */
.card {
    transition: transform 0.3s ease;
    
}

.card.rounded-lg {
    border-radius: 20px;
}
.card.shadow {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.card-body {
    padding: 1rem;
}
.text-center{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.15rem !important;
    font-weight: bold !important;
    letter-spacing: 8px !important;
    line-height: 27.5px !important;
    text-transform: uppercase !important;
}

/* tarjetas de productos */

#card-title-smaller {
    font-size: 1.50rem;
    line-height: 27.5px;
    letter-spacing: 0;
    text-transform: capitalize;
    width: 100%;
}

.btn-product {
    background-color: rgba(238, 216, 197, 1);
    color: white;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat';
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 27.5px;
    text-transform: uppercase;
    border-radius: 30px;
    width: 100%;
    text-align: center;
}

.btn-product:hover {
    background-color: rgba(229, 229, 229, 1);
}
.card-footer {
    background-color: transparent;
    border-top: none;
    padding-bottom: 20px;
}
.card-text{
    font-family: 'Montserrat';
    font-size: 0.9rem;
}

/* titulo categoria */
.fw-bold{
    font-family: 'Playfair Display';
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 0;
}

.text-muted{
    font-family: 'Montserrat';
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 27.5px;
    text-transform: uppercase;

}

/* carousel */
.title-carousel{
    font-size: 0.9rem;
}
.big-container{
    background-color: #FAF9F6;
} 

.dropdown-toggle {
    background-color: white;
    color: black;
    border: none;
}

/*carrito */

.dropdown-toggle:hover {
    background-color: white;
    color: black;
}

.dropdown-toggle:active,
.dropdown-toggle:focus {
    background-color: white !important;
    color: black !important;
    box-shadow: none !important;
    /* Elimina la sombra del foco */
    outline: none !important;
    /* Elimina el contorno del foco */
}

.offcanvas{
    background-color: #FAF9F6;
}

.offcanvas-title, .offcanvas-footer h5{
    font-family: 'Montserrat';
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 27.5px;
    text-transform: uppercase;
}

.divider {
    border-top: 1.5px solid rgba(229, 229, 229, 1);
    margin: 5px 0;
}

.btn-cart{
    
    background-color: rgba(218, 138, 103, 1);
    color: white;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat';
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 27.5px;
    text-transform: uppercase;
    border-radius: 30px;
    width: 100%;
    text-align: center;
}

.btn-cart:hover {
    background-color: rgba(229, 229, 229, 1);
}

.cart-item-title{
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 27.5px;
    letter-spacing: 0;
    text-transform: capitalize;
    width: 100%;
}
.remove-item{
    cursor: pointer;
    text-decoration: underline;
    color: black;
}
.remove-item:hover {
    color: rgba(142, 77, 41, 1);
}
.cart-item-img {
    width: 70px !important;
    height: 90px !important;
    object-fit: cover;
    /* Asegura que la imagen se recorte de forma proporcional sin distorsión */
    border-radius: 5px;
}


/* Cupones */

#specialCouponsContainer {
    position: fixed;
    bottom: 0px;
    /* Establece la distancia desde la parte inferior de la pantalla */
    left: 0px;
    /* Establece la distancia desde la parte izquierda de la pantalla */
    display: flex;
    flex-direction: column;
    /* Apilar los cupones uno encima del otro */
    align-items: flex-start;
    /* Alineación a la izquierda */
    gap: 0;
    /* Espacio entre los banners */
    z-index: 1050;
    padding: 2px;
}

.coupon-banner {
    background-color: #FAF9F6;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    opacity: 1;
    z-index: 1051;
}
.modal-background {
    background-color: #FAF9F6;
    
}
.modal-content,
.modal-content * {
    color: black !important;
}
.modal-text {
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 27.5px;
    letter-spacing: 0;
    color: black;
    text-transform:initial;
    font-weight:normal;
}

.btn-primary{
    background-color: #E5E5E5;
    color: black;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat';
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 27.5px;
    text-transform: uppercase;
    border-radius: 30px;
    border-color: #E5E5E5;
}
.btn-primary:hover {
    background-color: rgba(229, 229, 229, 1);
    border-color: #E5E5E5;
    
}
#discountCode {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 27.5px;
    letter-spacing: 0;
    color: black;
    text-transform: initial;
    font-weight: normal;
}

#discountCode:focus {
    color: black;
    /* Color del texto al hacer focus */
    border-color: #FAF9F6;
    /* Color del borde en focus */
    outline: none;
    /* Asegura que no aparezca el contorno en foco */
    background-color: #FAF9F6
}

#discountCode::placeholder {
    color: black;
    /* Cambia el color del placeholder */
}